<mat-toolbar color="primary">
  <span>Auto Service</span>
  <a mat-button routerLink="/" > Home </a>
  <a mat-button routerLink="/repairs/overview" > Reparaties </a>
  <a mat-button routerLink="/parts/overview" > Onderdelen </a>
  <a mat-button routerLink="/customers" > Klanten </a>
  <a mat-button routerLink="/employees" > Medewerkers </a>
 
  <!-- <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/">Link1</button>
    <button mat-menu-item routerLink="/">Link1</button>
    <button mat-menu-item routerLink="/">Link1</button> 
  </mat-menu> -->
</mat-toolbar>

<router-outlet></router-outlet>
