<div class="container">
  <div class="row mt-3">
    <div class="col col-lg-12 d-flex justify-content-center">
        <h1>Onderdelen Overzicht</h1>
    </div>
</div>
  <!---search form parts-->
  <div class="row mt-3">
    <form [formGroup]="searchForm" (ngSubmit)="onSubmit()" class="m-auto">
      <!--use the search instead-->
      <!-- <div class="col col-sm-12">
        <mat-form-field appearance="fill">
            <mat-label>Zoek op category</mat-label>
                <mat-select   formControlName="categoryID" >
                    <mat-option *ngFor="let category of categories" [value]="category.id">{{category.name}}</mat-option>
                </mat-select>
        </mat-form-field>
    </div> -->
    <!-- <div class="col col-sm-12 d-flex justify-content-center">
      <button mat-raised-button color="primary" type="submit">Zoeken</button>
    </div> -->
    <!-- <div class="col col-sm-12">
      <mat-form-field>
        <mat-label>Search</mat-label>
        <input matInput type="text"  name="searchText" [(ngModel)]="searchText" color="primary"  autocomplete="off">
      </mat-form-field>
    </div> -->
    </form>
  </div>
 <!-- Add part -->
 <div class="row mt-3">
  <div class="col col-sm-12">
    <button mat-flat-button class="success" (click)="navToAdd()">Nieuw Onderdeel</button>
  </div>
</div>
 <!--parts table-->
 <div class="row mt-3">
  <div class="col col-lg-12 col-sm-12">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!-- name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Onderdeel </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!-- eanNumber Column -->
      <ng-container matColumnDef="eannumber">
        <th mat-header-cell *matHeaderCellDef> EAN-nummer </th>
        <td mat-cell *matCellDef="let element"> {{element.eanNumber}} </td>
      </ng-container>
    
      <!-- description Column -->
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Omschrijving </th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
      </ng-container>

      <!-- price Column -->
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Prijs </th>
        <td mat-cell *matCellDef="let element"> {{element.price}} </td>
      </ng-container>

      
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
  </div>
</div>
 
</div>
